@import '@/styles/variables';
@import '@/styles/mixins';

.competences-grid {
  margin-bottom: $spacing-lg;
  display: grid;
  gap: $spacing-sm;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

  h3 {
    grid-column: 1 / -1;
    margin-bottom: $spacing-sm;
  }
}